<span class="btn-group btn-group-xs pull-right" role="group">
   <button class="btn btn-default" role="button">
      <span class="glyphicon glyphicon-ok"></span>
   </button>
   <!-- /.btn btn-default -->
   <button class="btn btn-default"
      role="button"
      ng-click="promptAssignment = !promptAssignment">
      <span class="glyphicon glyphicon-plus"></span>
   </button>
   <!-- /.btn btn-default -->
   <button class="btn btn-default" role="button">
      <span class="glyphicon glyphicon-time"></span>
   </button>
   <!-- /.btn btn-default -->
</span><!-- /.btn-group btn-group-xs pull-right -->
<h4 class="list-group-item-header"
   contenteditable
   ng-model="item.title"></h4><!-- /.list-group-item-text -->

<form class="form-inline"
   ng-show="promptAssignment"
   ng-submit="addAssignment()">
   <div class="form-group">
      <input type="text" ng-model="newAssignment.title" class="form-control" />
   </div>
   <div class="form-group">
      <input type="text" ng-model="newAssignment.member" class="form-control" />
   </div>
   <!-- /.form-group -->
   <button class="btn btn-default" type="submit">Add</button>
</form><!-- /.form-inline -->

<div class="form-group">
   <textarea ng-bind="item.notes" class="form-control resize-height"></textarea>
</div>

