<span class="btn-group btn-group-xs pull-right" role="group">
   <button class="btn btn-default"
      role="button"
      ng-disabled="hasOpenAssignment()">
      <span class="glyphicon glyphicon-ok"></span>
   </button>
   <!-- /.btn btn-default -->
   <button class="btn btn-default"
      role="button"
      ng-click="promptAssignment = !promptAssignment">
      <span class="glyphicon glyphicon-plus"></span>
   </button>
   <!-- /.btn btn-default -->
   <button class="btn btn-default" role="button">
      <span class="glyphicon glyphicon-time"></span>
   </button>
   <!-- /.btn btn-default -->
</span><!-- /.btn-group btn-group-xs pull-right -->

<h4 class="list-group-item-header"
   contenteditable
   ng-model="item.title"></h4><!-- /.list-group-item-text -->

<meeting-assignments ng-show="item.assignments.length"
   assignments="item.assignments"></meeting-assignments>

<form role="form"
   id="addAssignmentForm"
   name="addAssignmentForm"
   class="form-inline"
   ng-show="promptAssignment && activeItem || true"
   ng-submit="addAssignment()"
   novalidate>

   <div class="form-group">
      <input type="text"
         ng-model="newAssignment.description"
         class="form-control"
         required />
   </div>
   <!-- /.form-group -->

   <div class="form-group">
      <select ng-model="newAssignment.owner"
         class="form-control"
         ng-options="member.name for member in meeting.members | orderBy: 'name'"
         required></select>
   </div>
   <!-- /.form-group -->

   <!-- #addAssignmentForm: Submit -->
   <div class="form-group">
      <button type="submit"
         class="btn btn-default"
         ng-disabled="addAssignmentForm.$invalid">
         <span class="glyphicon glyphicon-plus"></span>
      </button>
   </div>
   <!-- /.form-group -->
</form><!-- /.form-horizontal -->

<form role="form" name="itemNotesForm" ng-submit="saveItem()" novalidate>
   <div class="form-group">
      <textarea ng-model="item.notes"
         class="form-control resize-height"
         required></textarea>
   </div>

   <!-- #itemNotesForm: Submit -->
   <div class="form-group">
      <button type="submit"
         class="btn btn-default"
         ng-disabled="itemNotesForm.$invalid">
         Save
      </button>
      <!-- /.btn btn-default -->
   </div>
   <!-- /.form-group -->
</form>
