<div class="list-group" id="meeting-members">
   <h2>
      <small>Members</small>
   </h2>
   <a href
      class="list-group-item"
      ng-repeat="member in members | orderBy: 'name'"
      ng-class="{
                  'list-group-item-success': member.checkin && !member.checkout,
                  'list-group-item-danger': member.checkout
                  }">

      <p class="list-group-item-text">
         {{ member.name }}

         <span class="btn-group btn-group-xs pull-right">
            <button class="btn"
               ng-class="member.checkin ? 'btn-success disabled' : 'btn-default'"
               ng-click="checkin(member)">
               <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-default"
               ng-disabled="member.checkout || !member.checkin"
               ng-click="checkout(member)">
               <span class="glyphicon glyphicon-remove"></span>
            </button>

            <button ng-click="toggleMemberConfig($index)"
               class="btn"
               ng-class="memberConfig[$index] ? 'btn-info' : 'btn-default'">
               <span class="glyphicon glyphicon-cog"></span>

            </button>
         </span>
         <!-- /.btn-group btn-group-xs -->

      </p>
      <!-- /.list-group-item-text -->

      <div class="list-group-item-text" ng-show="memberConfig[$index]">

         <div class="input-group input-group-sm checkin-checkout">
            <span class="input-group-btn">
               <button class="btn btn-default"
                  ng-click="member.checkin = null;member.checkout = null">
                  &times;
               </button>
            </span> <input type="time"
            class="form-control"
            ng-model="member.checkin" />
         </div>
         <!-- /.input-group input-group-sm -->
         <div class="input-group input-group-sm checkin-checkout">
            <span class="input-group-btn">
               <button class="btn btn-default"
                  ng-click="member.checkout = null">
                  &times;
               </button>
            </span> <input type="time"
            class="form-control"
            ng-model="member.checkout" />
         </div>
         <!-- /.input-group input-group-sm -->

      </div>
      <!-- /.list-group-item-text -->

   </a>
   <!-- /.list-group-item -->
</div>
<!-- /.list-group -->
