<div class="list-group">
   <p class="lead text-muted">Members</p>
   <a href
      class="list-group-item"
      ng-repeat="member in members | orderBy: 'name'"
      ng-class="{
                  'list-group-item-success': member.checkin && !member.checkout,
                  'list-group-item-danger': member.checkout
                  }">

      <p class="list-group-item-text">

         <span class="btn-group btn-group-xs pull-right">
            <button class="btn"
               ng-class="member.checkin ? 'btn-success disabled' : 'btn-default'"
               ng-click="checkin(member)">
               <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-default"
               ng-disabled="member.checkout || !member.checkin"
               ng-click="checkout(member)">
               <span class="glyphicon glyphicon-remove"></span>
            </button>

            <button ng-click="toggleMemberConfig($index)"
               class="btn"
               ng-class="memberConfig[$index] ? 'btn-info' : 'btn-default'">
               <span class="glyphicon glyphicon-cog"></span>
            </button>
         </span>
         <!-- /.btn-group btn-group-xs -->{{ member.name }}

      </p>
      <!-- /.list-group-item-text -->

      <div class="list-group-item-text" ng-show="memberConfig[$index]">

         <div class="input-group input-group-sm checkin-checkout">
            <span class="input-group-btn">
               <button class="btn btn-default"
                  ng-click="resetCheckin(member)">
                  &times;
               </button>
            </span> <input type="time"
            class="form-control"
            ng-model="member.checkin" />
         </div>
         <!-- /.input-group input-group-sm -->
         <div class="input-group input-group-sm checkin-checkout">
            <span class="input-group-btn">
               <button class="btn btn-default"
                  ng-click="resetCheckout(member)">
                  &times;
               </button>
            </span> <input type="time"
            class="form-control"
            ng-model="member.checkout" />
         </div>
         <!-- /.input-group input-group-sm -->

      </div>
      <!-- /.list-group-item-text -->

   </a>
   <!-- /.list-group-item -->
</div><!-- /.list-group -->
<div class="well add-member">
   <button class="btn btn-xs pull-right"
      ng-click="toggleAddMemberForm()"
      ng-class="showAddMemberForm ? 'btn-warning' : 'btn-success'">
      <span class="glyphicon"
         ng-class="showAddMemberForm ? 'glyphicon-minus' : 'glyphicon-plus'"></span>
   </button>
   <p class="lead text-muted">
      Add Member<!-- /.btn btn-success btn-xs -->
   </p>

   <form name="newMemberForm"
      ng-submit="addMember()"
      ng-show="showAddMemberForm">
      <input type="text"
         ng-model="newMember.name"
         placeholder="Name"
         class="form-control add-member-form-input" />
   </form>
</div><!-- /.well -->
