/**
 * meeting-members.scss
 */

meeting-members {
  .checkin-checkout {
    margin-top: 5px;
  }
  .add-member {
    > .lead {
      margin-bottom: 0;
    }
    > form{
      margin-top: 20px;
    }
  }
}
