<ul class="list-group">
   <li ng-repeat="assignment in assignments"
      class="list-group-item"
      ng-class="{disabled:assignment.closed}">
      {{assignment.owner.name }} - {{ assignment.description }}
      <div class="btn-group btn-group-xs pull-right" role="group">
         <button class="btn btn-default">
            <span class="glyphicon glyphicon-ok"
               ng-click="completeAssignment(assignment)"></span>
         </button>
         <button class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
         </button>
      </div>
      <!-- /.btn-group -->

   </li>
</ul>
