/**
 * app.scss
 */
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
@import 'variables.scss';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 70px;
}

// Component styles are injected through grunt
// injector
@import '_variables.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'dashboard/base/dashboard.scss';
@import 'home/home.scss';
@import 'meeting/meeting-item/meeting-item.scss';
@import 'meeting/meeting-items-section/meeting-items-section.scss';
@import 'meeting/meeting-members/meeting-members.scss';
@import 'meeting/meeting/meeting.scss';
@import 'contenteditable/contenteditable.scss';
@import 'modal/modal.scss';
// endinjector
