<div class="container-fluid">
   <div class="page-header">
      <h1>
         Meeting </h1>
   </div>
   <!-- /.page-header -->
   <div class="row">
      <section class="col-sm-3">
         <meeting-members members="members"></meeting-members>
      </section>
      <!-- /.list-group col-sm-3 -->

      <section class="col-sm-6">
         <h2>Agenda</h2>

         <div id="follow-ups" ng-if="followupItems.length">
            <h3>
               <small>Follow-ups</small>
            </h3>
            <div class="list-group">
               <a href
                  class="list-group-item"
                  ng-repeat="item in followupItems">
                  <p class="list-group-item-text">
                     {{ item.title }} </p>
                  <!-- /.list-group-item-text -->
               </a>
               <!-- /.list-group-item -->
            </div>
            <!-- /.list-group -->
         </div>
         <!-- /#follow-ups -->

         <h3 ng-if="followupItems.length">
            <small>New Items</small>
         </h3>
         <div class="list-group">
            <div class="list-group-item"
               ng-repeat="item in agendaItems"
               ng-click="setActiveItem($index)"
               ng-class="{'active':activeItem === $index}">
               <span class="btn-group btn-group-xs pull-right" role="group">
                  <button class="btn btn-default" role="button">
                     <span class="glyphicon glyphicon-ok"></span>
                  </button>
                  <!-- /.btn btn-default -->
                  <button class="btn btn-default" role="button">
                     <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <!-- /.btn btn-default -->
                  <button class="btn btn-default" role="button">
                     <span class="glyphicon glyphicon-time"></span>
                  </button>
                  <!-- /.btn btn-default -->
               </span>
               <!-- /.btn-group btn-group-xs pull-right -->
               <h4 class="list-group-item-header"
                  contenteditable
                  ng-model="item.title"></h4>
               <!-- /.list-group-item-text -->

               <p class="list-group-item-text" ng-bind-html="item.title"></p>
               <!-- /.list-group-item-text -->
            </div>
            <!-- /.list-group-item -->
         </div>
         <!-- /.list-group -->

      </section>
      <!-- /.col-sm-6 list-group -->

   </div>
   <!-- /.row -->
</div><!-- /.container-fluid -->
