#home {
  header {
    text-align: center;
    background: $brand-info;
    color: white;
    .container {
      padding-top: 30px;
      padding-bottom: 50px;
    }
    img {
      display: block;
      margin: 0 auto 20px;
    }
    .intro-text {
      .name {
        display: block;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
      }
      .skills {
        font-size: 1.25em;
        font-weight: 300;
      }
    }
  }
  @media(min-width: 768px) {
    header {
      .container {
        padding-top: 100px;
        padding-bottom: 100px;
      }
      .intro-text {
        .name {
          font-size: 4.75em;
        }
        .skills {
          font-size: 1.75em;
        }
      }
    }
  }
}
